body{
	font:16px Arial, Helvetica,sans-serif;
	padding: 0px;
	background-color:#E6E6FA;
}
h1{
    color: #CD5C5C;
    text-align: center;
}
input{
    display: block;   
    margin-right: auto;
    margin-left: auto;
    font-size: 14px;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border: 2px solid #CD5C5C;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, rgb(104, 102, 102))
}
.wrapper
{
    text-align: center;
}
.r_wrapper
{
    margin: auto auto auto auto;
    text-align: center;
}
button{
    align-self: center;
    display: inline-block;
    padding: 6px 12px;
    background-color: rgb(255, 255, 255);
    color: #CD5C5C;
    font-size: 14px;
    height: 50px;
    width: 150px;
    text-align: center;
    vertical-align: middle;
    border: 2px solid #CD5C5C;
    cursor: pointer;
    border-radius: 10px;
}